HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de banco (caso alguém crie localmente)
*.db

# Mantém target apenas dentro de src, se existir
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/